---

#- name: Install vector packages
#  become: true
#  become_user: root
#  ansible.builtin.dnf:
#    name:
#      - vector-{{ vector_rpm_version }}.x86_64.rpm
#    disable_gpg_check: true
#  notify: Restart vector service

- name: Install vector packages
  become: true
  become_user: root
  ansible.builtin.dnf:
    name: "https://yum.vector.dev/stable/vector-0/x86_64/vector-{{ vector_rpm_version }}.x86_64.rpm"
    state: present
  with_items: "{{ vector_version }}"