---
- name: Extract Vector archive file 
  become: true
  become_user: root
  unarchive:
#    src: "/opt/vector/vector-{{ vector_version }}-x86_64-unknown-linux-musl.tar.gz"
    src: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-x86_64-unknown-linux-musl.tar.gz"
    dest: /opt
    remote_src: yes

- name: store the files in the /tmp/foo directory in the 'out' variable
  find:
    paths: /opt/vector-x86_64-unknown-linux-musl/
    recurse: true
    use_regex: true
    patterns: (?i).*vector
  register: out

- debug:
     var: out