---
- name: Extract Vector archive file 
  become: true
  become_user: root
  unarchive:
    src: "/opt/vector/vector-{{ vector_version }}-x86_64-unknown-linux-musl.tar.gz"
    dest: /opt/vector
    remote_src: yes

- name: store the files in the /tmp/foo directory in the 'out' variable
  find:
    paths: /opt/vector
  register: out

- debug:
    var: out

